{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <h1>Hello</h1>
    <a href="{{path('app_achat_new')}}"><button class="btn btn-primary">Achat</button></a><br><br>
    <button class="btn btn-primary">Vente</button><br><br>
{% endblock main %}